{% extends 'base.html.twig' %}

{% block title %}Cheque index{% endblock %}

{% block body %}
    <h1>Cheque index</h1>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Num</th>
                <th>Montant</th>
                <th>Date de recu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cheque in cheques %}
            <tr>
                <td>{{ cheque.num }}</td>
                <td>{{ cheque.montant|number_format(2, '.', ' ')}}</td>
                <td>{{ cheque.reqAt ? cheque.reqAt|date('d/m/Y') : '' }}</td>
                <td class="text-center">
                    <a class="btn btn-info" href="{{ path('cheque_show', {'id': cheque.id}) }}">More</a>
                    <a class="btn btn-success" href="{{ path('cheque_edit', {'id': cheque.id}) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('cheque_delete', {'id': cheque.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('cheque_index', {'page':page - 1})}}">Précédent</a>
                </li>
                {% for i in 1..pages %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{ path('cheque_index', {'page':i})}}">{{i}}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('cheque_index', {'page':page + 1})}}">Suivant</a>
                </li>
            </ul>
        </nav>
    </div>

    <a class="btn btn-primary" href="{{ path('cheque_new') }}">Create new</a>
{% endblock %}
